name: vuepress-deploy
on: 
  push:
    branches:
      - main
env:
  TZ: Asia/Shanghai
jobs:
  build-and-deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.4
        with:
          node-version: 15.x
      - name: github自动部署
        env:
          ORIGIN: ${{ secrets.ACCESS_TOKEN }}
          CODING: ${{ secrets.CODING_TOKEN }}
        run: |
          npm install
          npm run build
          cd docs/.vuepress/dist
          echo 'pupperc.com' > CNAME
          git init
          git config user.name "Pupper0601"
          git config user.email "gdmuye@qq.com"
          git add -A
          git commit -m "github自动部署: $(date +"%Y-%m-%d %H:%M")"
          git push -f https://Pupper0601:${ORIGIN}@github.com/Pupper0601/vuepress-theme-vdoing.git master:gh-pages

          # echo 'pupper.cn' > CNAME
          # git push -f https://j8014lx:${CODING}@e.coding.net/j8014lx/pupper/pupper.git msater




